<div class="modal-header">
	<button type="button" class="close" ng-click="close()" style="margin-left: 20px">
		<span class="glyphicon glyphicon-remove"></span>
	</button>
	<h3 class="modal-title" style="padding-top: 5px">
		Resolu&ccedil;&atilde;o {{proposta.identificador}} <img class="pull-right" style="margin-top: -5px" ng-click="exportar('PDF')"
			src="./img/pdf.png" alt="Gerar PDF" title="Gerar PDF" width="32">
	</h3>
</div>
<div class="modal-body panel-custom">
	<div class="list-group">

		<div class="list-group-item">
			<p>
				<b>Subtema</b>: {{subtema}}
			</p>
			<p style="margin-bottom: 0">
				<b>Priorit&aacute;ria</b>: {{prioritaria}}
			</p>
		</div>

		<div class="list-group-item">
			<p>{{proposta.proposta}}</p>
		</div>

		<div class="list-group-item">
			<tabset> <tab ng-repeat="ocorrencia in proposta.ocorrencias" heading="PPA {{ocorrencia.descricaoPpa}}">

			<div class="panel panel-custom" ng-if="ocorrencia.vinculoPpa.possui && ocorrencia.vinculoPpa.exibir !== false">
				<div class="panel-heading">
					<h4 class="panel-title">V&iacute;nculo da Resolu&ccedil;&atilde;o com PPA</h4>
				</div>
				<ul class="list-group">

					<li class="list-group-item" ng-repeat="(idPrograma, programa) in ocorrencia.programas">
						<p>
							<b>Programa: </b>{{programa.descricao}}
						</p>

						<ul>
							<li ng-repeat="(idObjetivo, objetivo) in programa.objetivos">
								<p>
									<b>Objetivo: </b>{{objetivo.descricao}}
								</p>

								<p>
									<b>&Oacute;rg&atilde;o Respons&aacute;vel: </b>{{objetivo.orgao}}
								</p>

								<ul>
									<li ng-repeat="(idMetaIniciativa, metaIniciativa) in objetivo.metasIniciativas">
										<p>
											<b>{{metaIniciativa.tipo === 'META' ? 'Meta' : 'Iniciativa'}}: </b>{{metaIniciativa.metaIniciativa}}
										</p>
									</li>
								</ul>
							</li>
						</ul>
					</li>

				</ul>
			</div>

			<div class="panel panel-custom"
				ng-if="ocorrencia.vinculoOutros.possui && ocorrencia.vinculoOutros.exibir !== false && ocorrencia.vinculoOutros.exibirOutros !== false && ocorrencia.vinculoOutros.outros">
				<div class="panel-heading">
					<h4 class="panel-title">V&iacute;nculo com outras Pol&iacute;ticas, Programas ou Planos. Quais?</h4>
				</div>
				<ul class="list-group">

					<li class="list-group-item">{{ocorrencia.vinculoOutros.outros}}</li>

				</ul>
			</div>

			<div class="panel panel-custom" ng-if="ocorrencia.acoes.exibir !== false && ocorrencia.acoes.descricao">
				<div class="panel-heading">
					<h4 class="panel-title">A&ccedil;&otilde;es governamentais em execu&ccedil;&atilde;o relacionadas a esta Resolu&ccedil;&atilde;o</h4>
				</div>
				<ul class="list-group">

					<li class="list-group-item">{{ocorrencia.acoes.descricao}}</li>

				</ul>
			</div>

			<div class="panel panel-custom" ng-if="ocorrencia.questoes.exibir !== false && ocorrencia.questoes.descricao">
				<div class="panel-heading">
					<h4 class="panel-title">Novas quest&otilde;es que esta Resolu&ccedil;&atilde;o traz para o planejamento governamental</h4>
				</div>
				<ul class="list-group">

					<li class="list-group-item">{{ocorrencia.questoes.descricao}}</li>

				</ul>
			</div>

			<div class="panel panel-custom" ng-if="ocorrencia.fontes.exibir !== false && ocorrencia.fontes.descricao">
				<div class="panel-heading">
					<h4 class="panel-title">Fontes recomendadas de informa&ccedil;&otilde;es sobre o tema</h4>
				</div>
				<ul class="list-group">

					<li class="list-group-item">{{ocorrencia.fontes.descricao}}</li>

				</ul>
			</div>

			<div class="panel panel-custom panel-anexos" ng-if="ocorrencia.anexos.length > 0">
				<div class="panel-heading">
					<h4 class="panel-title">Anexos</h4>
				</div>
				<div class="list-group">

					<a class="list-group-item" ng-repeat="anexo in ocorrencia.anexos" ng-href="./anexo/{{anexo.id}}" target="_blank"><i
						class="glyphicon glyphicon-file" style="margin-right: 6px"></i>{{anexo.nome}}</a>

				</div>
			</div>

			</tab> </tabset>
		</div>

	</div>
</div>
