<!DOCTYPE html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>Consulta de Resolu&ccedil;&otilde;es</title>

<link rel="stylesheet" href="../../webjars/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="../../webjars/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<link rel="stylesheet" href="../../css/panel.css">
<link rel="stylesheet" href="../../css/tabset.css">

<link rel="stylesheet" href="../../css/detalhes.css">
<link rel="stylesheet" href="../../css/detalhesrss.css">

</head>

<body ng-class="{'high-contrast': detailsHighContrast}" ng-controller="DetalhesRssController" ng-cloak>

	<div id="bordaFundo"></div>
	<img id="cabecalho" src="../../img/monitora.png">

	<div class="container-fluid">
		<div class="panel panel-custom">
			<div class="panel-heading">
				<h4 class="panel-title" style="height: 40px; padding-top: 10px">
					Resolu&ccedil;&atilde;o {{proposta.identificador}} <img class="pull-right" style="margin-top: -10px" ng-click="exportar('PDF')"
						src="../../img/pdf.png" alt="Gerar PDF" title="Gerar PDF" width="32">
				</h4>
			</div>
			<div class="list-group">

				<div class="list-group-item">
					<p>
						<b>Subtema</b>: {{subtema}}
					</p>
					<p style="margin-bottom: 0">
						<b>Prioritária</b>: {{prioritaria}}
					</p>
				</div>

				<div class="list-group-item">
					<p>{{proposta.proposta}}</p>
				</div>

				<div class="list-group-item">
					<tabset> <tab ng-repeat="ocorrencia in proposta.ocorrencias" heading="PPA {{ocorrencia.descricaoPpa}}">

					<div class="panel panel-custom" ng-if="ocorrencia.vinculoPpa.possui && ocorrencia.vinculoPpa.exibir !== false">
						<div class="panel-heading">
							<h4 class="panel-title">V&iacute;nculo da Resolu&ccedil;&atilde;o com PPA</h4>
						</div>
						<ul class="list-group">

							<li class="list-group-item" ng-repeat="(idPrograma, programa) in ocorrencia.programas">
								<p>
									<b>Programa: </b>{{programa.descricao}}
								</p>

								<ul>
									<li ng-repeat="(idObjetivo, objetivo) in programa.objetivos">
										<p>
											<b>Objetivo: </b>{{objetivo.descricao}}
										</p>

										<p>
											<b>&Oacute;rg&atilde;o Respons&aacute;vel: </b>{{objetivo.orgao}}
										</p>

										<ul>
											<li ng-repeat="(idMetaIniciativa, metaIniciativa) in objetivo.metasIniciativas">
												<p>
													<b>{{metaIniciativa.tipo === 'META' ? 'Meta' : 'Iniciativa'}}: </b>{{metaIniciativa.metaIniciativa}}
												</p>
											</li>
										</ul>
									</li>
								</ul>
							</li>

						</ul>
					</div>

					<div class="panel panel-custom"
						ng-if="ocorrencia.vinculoOutros.possui && ocorrencia.vinculoOutros.exibir !== false && ocorrencia.vinculoOutros.exibirOutros !== false && ocorrencia.vinculoOutros.outros">
						<div class="panel-heading">
							<h4 class="panel-title">V&iacute;nculo com outras Pol&iacute;ticas, Programas ou Planos. Quais?</h4>
						</div>
						<ul class="list-group">

							<li class="list-group-item">{{ocorrencia.vinculoOutros.outros}}</li>

						</ul>
					</div>

					<div class="panel panel-custom" ng-if="ocorrencia.acoes.exibir !== false && ocorrencia.acoes.descricao">
						<div class="panel-heading">
							<h4 class="panel-title">A&ccedil;&otilde;es governamentais em execu&ccedil;&atilde;o relacionadas a esta Resolu&ccedil;&atilde;o</h4>
						</div>
						<ul class="list-group">

							<li class="list-group-item">{{ocorrencia.acoes.descricao}}</li>

						</ul>
					</div>

					<div class="panel panel-custom" ng-if="ocorrencia.questoes.exibir !== false && ocorrencia.questoes.descricao">
						<div class="panel-heading">
							<h4 class="panel-title">Novas quest&otilde;es que esta Resolu&ccedil;&atilde;o traz para o planejamento governamental</h4>
						</div>
						<ul class="list-group">

							<li class="list-group-item">{{ocorrencia.questoes.descricao}}</li>

						</ul>
					</div>

					<div class="panel panel-custom" ng-if="ocorrencia.fontes.exibir !== false && ocorrencia.fontes.descricao">
						<div class="panel-heading">
							<h4 class="panel-title">Fontes recomendadas de informa&ccedil;&otilde;es sobre o tema</h4>
						</div>
						<ul class="list-group">

							<li class="list-group-item">{{ocorrencia.fontes.descricao}}</li>

						</ul>
					</div>

					<div class="panel panel-custom panel-anexos" ng-if="ocorrencia.anexos.length > 0">
						<div class="panel-heading">
							<h4 class="panel-title">Anexos</h4>
						</div>
						<div class="list-group">

							<a class="list-group-item" ng-repeat="anexo in ocorrencia.anexos" ng-href="../../anexo/{{anexo.id}}" target="_blank"><i
								class="glyphicon glyphicon-file" style="margin-right: 6px"></i>{{anexo.nome}}</a>

						</div>
					</div>

					</tab> </tabset>
				</div>

			</div>
		</div>
	</div>

	<script type="text/javascript">
	var detalhes = true;
	</script>

	<script src="../../webjars/jquery/2.1.3/jquery.min.js"></script>
	<script src="../../webjars/angularjs/1.4.0/angular.min.js"></script>
	<script src="../../webjars/angularjs/1.4.0/angular-route.min.js"></script>
	<script src="../../webjars/angularjs/1.4.0/angular-aria.min.js"></script>
	<script src="../../webjars/angularjs/1.4.0/angular-cookies.min.js"></script>
	<script src="../../webjars/angular-hotkeys/1.4.5/hotkeys.min.js"></script>
	<script src="../../webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
	<script src="../../webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>

	<script src="../../js/app.module.js"></script>
	<script src="../../js/service/opcaoService.js"></script>
	<script src="../../js/service/propostaService.js"></script>
	<script src="../../js/service/anexoService.js"></script>

	<script src="../../js/controller/detalhesRssController.js"></script>

</body>

</html>