<!doctype html>
<html ng-app="app">
<head>
<meta charset="UTF-8">
<title>MONITORA CONAPIR</title>

<link rel="stylesheet" href="./webjars/bootstrap/3.3.5/css/bootstrap.min.css">
<link rel="stylesheet" href="./webjars/jQCloud/1.0.3/jqcloud/jqcloud.css">
<link rel="stylesheet" href="./webjars/angular-hotkeys/1.4.5/hotkey.min.css">

<link rel="stylesheet" href="./css/navbar.css">
<link rel="stylesheet" href="./css/panel.css">
<link rel="stylesheet" href="./css/breadcrumb.css">
<link rel="stylesheet" href="./css/tabset.css">
<link rel="stylesheet" href="./css/modal.css">

<link rel="stylesheet" href="./css/home.css">
<link rel="stylesheet" href="./css/interna.css">
<link rel="stylesheet" href="./css/buscappa.css">
<link rel="stylesheet" href="./css/resolucoesppa.css">
<link rel="stylesheet" href="./css/entenda.css">
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/detalhes.css">

</head>

<body ng-class="{'high-contrast': highContrast}">
	<div id="bordaFundo"></div>
	<img id="cabecalho" src="./img/logo_monitora.png">

	<nav class="navbar navbar-custom">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
				</button>

				<a class="navbar-brand" href="#/">Monitora CONAPIR</a>
			</div>

			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li><a href="#/"><span class="badge hidden-sm hidden-xs">I</span> In&iacute;cio</a></li>
					<li><a href="#/apresentacao"><span class="badge hidden-sm hidden-xs">A</span> Apresenta&ccedil;&atilde;o</a></li>
					<li><a href="#/entenda"><span class="badge hidden-sm hidden-xs">E</span> Entenda a Ferramenta</a></li>
					<li><a href="#/faleconosco"><span class="badge hidden-sm hidden-xs">F</span> Fale Conosco</a></li>
					<li><a href="/sar" target="_blank"><span class="badge hidden-sm hidden-xs">R</span> Acesso Restrito</a></li>
					<li ng-class="{active: highContrast}"><a ng-click="toggleContrast()"><span class="badge hidden-sm hidden-xs">C</span> Alto Contraste</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<img id="cabecalho2" src="./img/logomonitora2.png">

	<div class="container">
		<div ng-view></div>
	</div>

	<footer id="rodape">
		<div id="rodape_img_holder">
			<img src="./img/cad.png"> <img src="./img/nuge_corp.png"> <img src="./img/ufsc.png"> <img src="./img/seppir_rodape.png">
			<img src="./img/governo.png">
		</div>
	</footer>

	<script type="text/javascript">
		var detalhes = false;
	</script>

	<script type="text/javascript">
		var l = window.location.pathname;
        if(l.charAt(l.length - 1) !== '/') {
	        window.location.pathname += '/';
        }
	</script>

	<script>
		(function(i, s, o, g, r, a, m) {
	        i['GoogleAnalyticsObject'] = r;
	        i[r] = i[r] || function() {
		        (i[r].q = i[r].q || []).push(arguments)
	        }, i[r].l = 1 * new Date();
	        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
	        a.async = 1;
	        a.src = g;
	        m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-68300413-1', 'auto');
        ga('send', 'pageview');
	</script>

	<script src="./webjars/jquery/2.1.3/jquery.min.js"></script>
	<script src="./webjars/angularjs/1.4.0/angular.min.js"></script>
	<script src="./webjars/angularjs/1.4.0/angular-route.min.js"></script>
	<script src="./webjars/angularjs/1.4.0/angular-aria.min.js"></script>
	<script src="./webjars/angularjs/1.4.0/angular-cookies.min.js"></script>
	<script src="./webjars/angular-hotkeys/1.4.5/hotkeys.min.js"></script>
	<script src="./webjars/bootstrap/3.3.5/js/bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap.min.js"></script>
	<script src="./webjars/angular-ui-bootstrap/0.13.3/ui-bootstrap-tpls.min.js"></script>
	<script src="./webjars/jQCloud/1.0.3/jqcloud/jqcloud-1.0.3.min.js"></script>

	<script src="./js/app.module.js"></script>

	<script src="./js/service/politicaService.js"></script>
	<script src="./js/service/propostaService.js"></script>
	<script src="./js/service/programaService.js"></script>
	<script src="./js/service/opcaoService.js"></script>
	<script src="./js/service/objetivoService.js"></script>
	<script src="./js/service/metasService.js"></script>
	<script src="./js/service/tagCloudService.js"></script>
	<script src="./js/service/imagemService.js"></script>
	<script src="./js/service/anexoService.js"></script>

	<script src="./js/controller/homeController.js"></script>
	<script src="./js/controller/ultimasAlteracoesController.js"></script>
	<script src="./js/controller/internaController.js"></script>
	<script src="./js/controller/buscaPpaController.js"></script>
	<script src="./js/controller/objetivosController.js"></script>
	<script src="./js/controller/metasController.js"></script>
	<script src="./js/controller/resolucoesPpaController.js"></script>
	<script src="./js/controller/detalhesController.js"></script>

	<script src="./js/util.js"></script>

</body>
</html>
