<div id="pagina" class="apresentacao">

	<h2>Apresenta&ccedil;&atilde;o</h2>

	<br />

	<h3>O que &eacute;?</h3>
	<p>A MONITORA CONAPIR &eacute; uma ferramenta que possibilita o acompanhamento das resolu&cedil;&otilde;es pactuadas entre gestores,
		sociedade civil e governo, na III Confer&ecirc;ncia Nacional de Promo&ccedil;&atilde;o da Igualdade Racial (III CONAPIR), que aconteceu em
		Bras&iacute;lia, nos dias 05 a 07 de novembro de 2013.</p>
	<p>A III Confer&ecirc;ncia teve como tema Democracia e Desenvolvimento sem racismo: por um Brasil Afirmativo e ocorreu numa conjuntura
		de perspectivas favor&aacute;veis para maior atua&ccedil;&atilde;o da popula&ccedil;&atilde;o negra nos temas que podem conduzir a uma
		ordem social justa, livre do racismo e das desigualdades raciais.</p>
	<p>A ferramenta foi constru&iacute;da com o objetivo de aprimorar os canais de intera&ccedil;&atilde;o entre governo e sociedade,
		conferindo transpar&ecirc;ncia &agrave;s pol&iacute;ticas p&uacute;blicas implementadas. Ela permitir&aacute; monitorar essas
		pol&iacute;ticas desde as resolu&ccedil;&otilde;es aprovadas na Confer&ecirc;ncia at&eacute; o processo de implementa&ccedil;&atilde;o. Ou
		seja, ela registra parte importante do ciclo da pol&iacute;tica p&uacute;blica. Ao dar publicidade a essas etapas, tal ferramenta
		possibilita o controle social e monitoramento pela popula&ccedil;&atilde;o negra de suas demandas na medida em que s&atilde;o incorporadas
		&agrave;s a&ccedil;&otilde;es governamentais.</p>
	<p>O formato foi pensado a partir do arcabou&ccedil;o metodol&oacute;gico da III CONAPIR, que buscou garantir foco na
		defini&ccedil;&atilde;o das a&ccedil;&otilde;es priorit&aacute;rias que embasar&atilde;o a constru&ccedil;&atilde;o do planejamento
		governamental para os pr&oacute;ximos anos.</p>

	<br />

	<h3>A III CONAPIR</h3>
	<p>A III CONAPIR teve como objetivos: (a) reafirmar e ampliar o compromisso do Governo Federal e da sociedade brasileira com
		pol&iacute;ticas de enfrentamento ao racismo e de promo&ccedil;&atilde;o da igualdade como fatores essenciais &agrave; democracia plena e
		ao desenvolvimento com justi&ccedil;a social no Brasil; (b) avaliar os avan&ccedil;os obtidos e os desafios a serem enfrentados
		ap&oacute;s dez anos de implementa&ccedil;&atilde;o da Pol&iacute;tica Nacional de Promo&ccedil;&atilde;o da Igualdade Racial; (c) propor
		recomenda&ccedil;&otilde;es para o enfrentamento ao racismo e o fortalecimento da promo&ccedil;&atilde;o da igualdade racial no
		&acirc;mbito do Poder Executivo (federal, estadual e municipal) e de outros Poderes da Rep&uacute;blica; e (d) discutir os mecanismos de
		institucionaliza&ccedil;&atilde;o da promo&ccedil;&atilde;o da igualdade racial, tendo em vista a implanta&ccedil;&atilde;o do Sistema
		Nacional de Promo&ccedil;&atilde;o da Igualdade Racial (SINAPIR).</p>
	<p>Para organizar o debate, a Confer&ecirc;ncia foi dividida em quatro subtemas que tamb&eacute;m passaram a organizar a
		distribui&ccedil;&atilde;o das resolu&ccedil;&otilde;es na ferramenta de acompanhamento.</p>
	<p>
		<b>Subtema 1</b>: Estrat&eacute;gia para o desenvolvimento e o enfrentamento ao racismo, que buscou possibilidade de um desenvolvimento
		sem racismo e com reconhecimento dos direitos das comunidades ao habitat natural.
	</p>
	<p>
		<b>Subtema 2</b>: Pol&iacute;ticas de igualdade racial no Brasil: avan&ccedil;os e desafios que, sob a vig&ecirc;ncia do Estatuto da
		Igualdade Racial, buscou situar os ganhos da promo&ccedil;&atilde;o da igualdade racial no planejamento e no or&ccedil;amento
		p&uacute;blico.
	</p>
	<p>
		<b>Subtema 3</b>: Arranjos Institucionais para a sustentabilidade das pol&iacute;ticas de igualdade racial que procurou refletir o futuro
		da promo&ccedil;&atilde;o da igualdade e as possibilidades para assegurar a sua sustentabilidade social, pol&iacute;tica, institucional,
		jur&iacute;dica e econ&ocirc;mica, com destaque &agrave; implanta&ccedil;&atilde;o do Sistema Nacional de Promo&ccedil;&atilde;o da
		Igualdade Racial (SINAPIR).
	</p>
	<p>
		<b>Subtema 4</b>: Participa&ccedil;&atilde;o pol&iacute;tica e controle social: igualdade racial nos espa&ccedil;os de decis&atilde;o
		trouxe a quest&atilde;o do racismo institucional, atentando para a import&acirc;ncia da reforma pol&iacute;tica e da import&acirc;ncia dos
		princ&iacute;pios da igualdade e da pluralidade na agenda democr&aacute;tica.
	</p>

</div>