<div id="pagina" ng-controller="BuscaPpaController">

	<ol class="breadcrumb breadcrumb-custom">
		<li class="active">Busca de Resolu&ccedil;&otilde;es por PPA</li>
	</ol>

	<tabset> <tab ng-repeat="(descPpa, ppa) in ppas track by descPpa" heading="PPA {{::descPpa}}">

	<div class="container-fluid conteudo-aba">
		<div class="row">
			<div ng-repeat="(idPolitica, politica) in ppa" class="botoes_subtipo" ng-init="initSubtema($first, descPpa, idPolitica)"
				ng-class="classeImagem(ppa, subtema[descPpa] == idPolitica, $first)">
				<img class="center-block" alt="Filtrar por Pol&iacute;tica {{::idPolitica}}" title="Filtrar por Pol&iacute;tica {{::idPolitica}}"
					ng-click="ativaSubtema(descPpa, idPolitica)" ng-src="{{getImagem(idPolitica)}}" width="83" height="80">
				<h4 class="text-center">{{politica.politica.descricao}}</h4>
			</div>
		</div>

		<div ng-repeat="(idPolitica, politica) in ppa" ng-show="subtema[descPpa] == idPolitica" class="row">

			<div ng-repeat="(idAssunto, assunto) in politica.assuntos" class="panel panel-custom" style="padding: 0"
				ng-class="classeColuna(politica.assuntos)">
				<div class="panel-heading">
					<h4 class="panel-title">{{::assunto.assunto.descricao}}</h4>
				</div>

				<div class="panel-body fundo-lista-ppa">
					<ul class="lista_ppa">
						<li class="card" ng-repeat="programa in assunto.programas" ng-click="listaObjetivos(idPolitica, programa.id)">
							<div class="media">
								<div class="media-left">
									<img ng-src="{{getImagem(programa.id)}}" width="50" height="50"><span class="badge badge-contador">{{cont[programa.id] ||
										0}}</span>
								</div>
								<div class="media-body">{{::programa.descricao}}</div>
							</div>
						</li>
					</ul>
				</div>

			</div>

		</div>
	</div>

	</tab></tabset>

</div>
