<div id="pagina" class="entenda">

	<h2>Entenda a Ferramenta</h2>
	<p>A MONITORA CONAPIR apresenta as resolu&ccedil;&otilde;es aprovadas na III CONAPIR juntamente com informa&ccedil;&otilde;es que
		buscam situar o usu&aacute;rio em rela&ccedil;&atilde;o &agrave; incorpora&ccedil;&atilde;o da demanda apresentada pela sociedade ao
		planejamento governamental.</p>
	<p>Como forma de identificar a ader&ecirc;ncia entre a atual Pol&iacute;tica de Promo&ccedil;&atilde;o da Igualdade Racial e as
		demandas da sociedade, a Ferramenta vincula as Resolu&ccedil;&otilde;es da CONAPIR ao Plano Plurianual em vigor, o PPA 2012-2015.
	<p>Quando a demanda contida na resolu&ccedil;&atilde;o j&aacute; se encontra, de alguma forma, em implementa&ccedil;&atilde;o no
		&acirc;mbito do Governo Federal, s&atilde;o apresentadas informa&ccedil;&otilde;es sobre o est&aacute;gio, os resultados, bem como os
		desafios para se avan&ccedil;ar, quando for o caso. Quando a demanda manifesta na resolu&ccedil;&atilde;o ainda n&atilde;o estiver em
		execu&ccedil;&atilde;o, s&atilde;o indicadas informa&ccedil;&otilde;es que apontem as perspectivas e a viabilidade de
		incorpora&ccedil;&atilde;o &agrave;s a&ccedil;&otilde;es do Governo. Al&eacute;m disso, s&atilde;o indicadas outras fontes de
		informa&ccedil;&atilde;o que podem contribuir para o debate em torno da resolu&ccedil;&atilde;o.
	<p>As informa&ccedil;&otilde;es est&atilde;o dividas por &iacute;cones, que identificam a forma como as informa&ccedil;&otilde;es
		est&atilde;o organizadas na MONITORA CONAPIR. S&atilde;o eles:</p>

	<p class="titulo_link">
		<img src="img/filtro_prioritarias.png" /> <a href="#interna?prioritarias=true"><b>Resolu&ccedil;&otilde;es Priorit&aacute;rias</b></a>
	</p>
	<p>S&atilde;o apresentadas as 40 resolu&ccedil;&otilde;es priorit&aacute;rias aprovadas que s&atilde;o a principal refer&ecirc;ncia
		para orienta&ccedil;&atilde;o pol&iacute;tica do planejamento governamental nos pr&oacute;ximos anos. Para cada resolu&ccedil;&atilde;o,
		quando houver, s&atilde;o indicados os enunciados do PPA 2012-2015 a que est&atilde;o relacionados, a vincula&ccedil;&atilde;o com outros
		planos, pol&iacute;ticas e projetos e o andamento de sua implementa&ccedil;&atilde;o. Al&eacute;m disso, s&atilde;o problematizadas as
		novas perspectivas que a resolu&ccedil;&atilde;o enseja para os pr&oacute;ximos anos e outras fontes de informa&ccedil;&atilde;o sobre a
		tem&aacute;tica.</p>
	<p class="titulo_link">
		<img src="img/filtro_todas.png" /> <a href="#interna"><b>Todas as Resolu&ccedil;&otilde;es</b></a>
	</p>
	<p>S&atilde;o apresentadas todas as 83 resolu&ccedil;&otilde;es aprovadas, segundo o subtema, conforme a organiza&ccedil;&atilde;o
		metodol&oacute;gica da III CONAPIR. Para cada resolu&ccedil;&atilde;o, quando houver, s&atilde;o indicados os enunciados do PPA 2012-2015
		a que est&atilde;o relacionados, a vincula&ccedil;&atilde;o com outros planos, pol&iacute;ticas e projetos e o andamento de sua
		implementa&ccedil;&atilde;o. Al&eacute;m disso, s&atilde;o problematizadas as novas perspectivas que a resolu&ccedil;&atilde;o enseja para
		os pr&oacute;ximos anos e outras fontes de informa&ccedil;&atilde;o sobre a tem&aacute;tica.</p>
	<p class="titulo_link">
		<img src="img/filtro_ppa.png" /> <a href="#buscappa"><b>Todas as resolu&ccedil;&otilde;es segundo v&iacute;nculo com o PPA</b></a>
	</p>
	<p>Clicando nesse bot&atilde;o s&atilde;o apresentadas todas as a&ccedil;&otilde;es da Agenda de Igualdade Racial do PPA 2012-2015
		relacionadas com as resolu&ccedil;&otilde;es da III CONAPIR. A identifica&ccedil;&atilde;o a partir do PPA facilita a
		intera&ccedil;&atilde;o com as Agendas Transversais do Governo Federal, dando maior visibilidade &agrave;s rela&ccedil;&otilde;es entre as
		agendas tem&aacute;ticas da pol&iacute;tica social.</p>

	<h3>Atalhos do Teclado</h3>

	<h4>Em todas as telas</h4>
	<dl class="dl-horizontal">
		<dt>
			<span class="badge botao-teclado">I</span>
		</dt>
		<dd>Navega para p&aacute;gina Inicial</dd>

		<dt>
			<span class="badge botao-teclado">A</span>
		</dt>
		<dd>Navega para p&aacute;gina Apresenta&ccedil;&atilde;o</dd>

		<dt>
			<span class="badge botao-teclado">E</span>
		</dt>
		<dd>Navega para p&aacute;gina Entenda a Ferramenta</dd>

		<dt>
			<span class="badge botao-teclado">F</span>
		</dt>
		<dd>Navega para p&aacute;gina Fale Conosco</dd>

		<dt>
			<span class="badge botao-teclado">R</span>
		</dt>
		<dd>Navega para p&aacute;gina de Acesso Restrito</dd>

		<dt>
			<span class="badge botao-teclado">C</span>
		</dt>
		<dd>Ativa/Desativa o modo de Alto Contraste</dd>
	</dl>

	<h4>Na tela Inicial</h4>
	<dl class="dl-horizontal">
		<dt>
			<span class="badge botao-teclado">Ctrl</span> + <span class="badge botao-teclado">Alt</span> + <span class="badge botao-teclado">B</span>
		</dt>
		<dd>Foca no campo de pesquisa</dd>

		<dt>
			<span class="badge botao-teclado">Ctrl</span> + <span class="badge botao-teclado">Alt</span> + <span class="badge botao-teclado">R</span>
		</dt>
		<dd>Realiza a busca pelas Resolu&ccedil;&otilde;es Priorit&aacute;rias</dd>

		<dt>
			<span class="badge botao-teclado">Ctrl</span> + <span class="badge botao-teclado">Alt</span> + <span class="badge botao-teclado">T</span>
		</dt>
		<dd>Realiza a busca por todas as Resolu&ccedil;&otilde;es</dd>

		<dt>
			<span class="badge botao-teclado">Ctrl</span> + <span class="badge botao-teclado">Alt</span> + <span class="badge botao-teclado">P</span>
		</dt>
		<dd>Abre a tela de Busca por PPAs</dd>
	</dl>

	<h4>Na tela de Busca de Resolu&ccedil;&otilde;es</h4>
	<dl class="dl-horizontal">
		<dt>
			<span class="badge botao-teclado">Ctrl</span> + <span class="badge botao-teclado">Alt</span> + <span class="badge botao-teclado">B</span>
		</dt>
		<dd>Foca no campo de pesquisa</dd>

		<dt>
			<span class="badge botao-teclado">1</span> <span class="badge botao-teclado">2</span> <span class="badge botao-teclado">3</span> <span
				class="badge botao-teclado">4</span>
		</dt>
		<dd>Ativa/Desativa a sele&ccedil;&atilde;o dos subtemas</dd>
	</dl>

</div>
