<div id="pagina" class="faleconosco">

	<h2>Fale com a SEPPIR</h2>
	<p>Hor&aacute;rio de atendimento: Segunda a Sexta, de 08:00 &agrave;s 18:00.</p>

	<h2>Endere&ccedil;o</h2>
	<p>
		Sede: Esplanada dos Minist&eacute;rios, bloco A, 5&#176; e 9&#176; andar<br> Bras&iacute;lia/DF - CEP: 70.054-906<br> Anexo:
		Setor de Edif&iacute;cios de Utilidade P&uacute;blica Norte-SEPN, Quadra 514, Bloco C, s/n, lote 8.<br> Asa Norte -
		Bras&iacute;lia-DF<br> CEP: 70.760-543 PABX: (61) 2025-7505
	</p>
	<h2>Assessoria de Comunica&ccedil;&atilde;o Social</h2>
	<p>
		Telefone: (61) 2025-7043<br> Fax: (61) 2025-7088<br> E-mail: seppir.imprensa@seppir.gov.br
	</p>
	<h2>Ouvidoria Nacional da Igualdade Racial</h2>
	<p>
		Telefone: (61) 2025-7003<br> E-mail: ouvidoria@seppir.gov.br<br> SIC - Servi&ccedil;o de Informa&ccedil;&otilde;es ao
		Cidad&atilde;o<br> Telefone: (61) 2025-7004<br> E-mail: sic@seppir.gov.br
	</p>

</div>
