<div ng-controller="HomeController">

	<div class="row row-no-offset">
		<div class="col-md-6">
			<div class="embed-responsive embed-responsive-16by9">
				<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CN69jv1lM1A"></iframe>
			</div>
		</div>

		<div id="ultimas_alteracoes" class="col-md-6 panel panel-custom" style="padding: 0">
			<div class="panel-heading">
				<h4 class="panel-title">Mais recentes</h4>
			</div>
			<ul class="list-group">
				<li class="list-group-item" ng-click="mostrarDetalhes(p.id)" ng-repeat="p in ultimasAlteracoes"><div>
						<label> {{::p.identificador}} </label> <label class="lb_data">{{::p.dataCadastro | date : 'dd/MM/yyyy'}}</label>
						<p class="list-group-item-text">{{::p.proposta | limitTo: 160}}...</p>
					</div></li>
			</ul>
			<div class="panel-footer" style="height: 40px">
				<span class="pull-right"> <label style="margin-right: 5px" ng-click="verTodasAlteracoes()">Ver todas</label> <a href="./feedrss"
					target="_blank" title="Ver Feed RSS"><img src="./img/rss-feed-icon.png"></a>
				</span>
			</div>
		</div>
	</div>

	<div class="panel panel-custom">
		<div class="panel-heading">
			<h4 class="panel-title">Acesse o Sistema</h4>
		</div>
		<div class="panel-body">
			<div class="row-fluid">
				<div class="col-md-7 col-sm-6">
					<form name="frmBusca1" ng-submit="navega()">
						<p>Buscar Resolu&ccedil;&otilde;es por Palavra-chave</p>

						<div class="input-group">
							<input id="busca" class="form-control" ng-model="filtro" type="text" list="sugestoesBusca"> <span class="input-group-btn">
								<button type="submit" class="btn btn-default">
									<img src="img/lupa.png" width="18" height="17">
								</button>
							</span>
						</div>
						<datalist id="sugestoesBusca">
							<select>
								<option ng-repeat="s in sugestoesBusca">{{::s.valor}}</option>
							</select>
						</datalist>
					</form>

					<div id="tagCloud"></div>
				</div>

				<div class="col-md-5 col-sm-6">
					<p>Acesso direto</p>

					<div>
						<a id="btn_prioritarias" href="#interna?p=true"><img id="img_prioritarias" src="img/icones_r1_c2.png"></a>
					</div>
					<div style="margin-top: 12px">
						<a id="btn_todas" href="#interna" style="margin-right: 12px"><img id="img_todas" src="img/icones_r3_c1.png"></a> <a id="btn_ppa"
							href="#buscappa"><img id="img_ppa" src="img/icones_r3_c4.png"></a>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>