<div ng-controller="InternaController">

	<div class="row row-no-offset">
		<div class="col-md-2 col-sm-2"></div>
		<div ng-repeat="s in [1, 2, 4, 8]" class="col-md-2 col-sm-2 col-xs-6 botoes_subtipo" ng-class="{ativo : inclui(s)}"
			popover="{{::subtemas[$index].textoCompleto}}" popover-trigger="mouseenter" popover-pop-delay="500" popover-placement="bottom">
			<img class="center-block" alt="{{::subtemas[$index].textoCompleto}}" ng-click="ativaSubtema(s)" ng-src="img/subtema{{::$index + 1}}i.png"
				width="83" height="80">
			<h4 class="text-center">{{::subtemas[$index].textoResumido}}</h4>
		</div>
	</div>

	<alert class="alert-subtemas" ng-show="buscando || subtema == 0"> <span ng-show="buscando"> Carregando... <span
		class="glyphicon glyphicon-refresh spin"></span>
	</span> <span ng-show="!buscando && subtema == 0"> Selecione um subtema para exibir as resolu&ccedil;&otilde;es</span> </alert>

	<div class="panel panel-custom">
		<div class="panel-heading" style="height: 60px">
			<h4 class="panel-title" style="height: 40px; padding-top: 10px">
				Buscar Resolu&ccedil;&otilde;es <img class="pull-right" style="margin-top: -10px" ng-click="exportar('PDF')" src="img/pdf.png"
					alt="Gerar PDF" title="Gerar PDF" width="32">
			</h4>
		</div>
		<div class="panel-body">
			<form class="form-inline">
				<label>Palavra-chave</label> <input id="busca" class="form-control" style="width: 100%; font-weight: bold;" type="text" ng-model="query">
			</form>
		</div>
	</div>

	<div ng-show="!buscando">

		<div ng-repeat="s in [1, 2, 4, 8]" ng-show="inclui(s)" class="panel panel-custom">
			<div class="panel-heading">
				<h4 class="panel-title">
					<label>({{propostas[$index].length}})</label> {{::getTextoSubtema($index + 1)}}
				</h4>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="14%">N&uacute;mero</th>
						<th width="85%">Descri&ccedil;&atilde;o</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="proposta in propostas[$index] | ignoreDiacritics:query:['id','proposta']">
						<td valign="top">Resolu&ccedil;&atilde;o {{proposta.identificador}}</td>
						<td valign="top"><a ng-click="proposta.abrir = !proposta.abrir;">{{proposta.proposta}}</a>

							<div ng-show="proposta.abrir">
								<h5 ng-show="!opcoesCarregadas">
									Carregando... <span class="glyphicon glyphicon-refresh spin"></span>
								</h5>
								<h4 style="margin-bottom: 0" ng-show="opcoesCarregadas && proposta.ppasLength > 0">A&ccedil;&otilde;es associadas &agrave;
									resolu&ccedil;&atilde;o</h4>
								<ul class="arvore" ng-show="opcoesCarregadas && proposta.ppasLength > 0">
									<li ng-repeat="(id, ppa) in proposta.ppas"><span class="glyphicon" ng-class="classeBotaoArvore(ppa)"
										ng-click="abrirFechar(ppa)"></span> <a ng-click="mostrarDetalhes(proposta.id)"><b>PPA:</b> {{ppa.ppa}}</a>
										<ul ng-show="ppa.aberto">
											<li ng-repeat="programa in ppa.programas"><span class="glyphicon" ng-class="classeBotaoArvore(programa)"
												ng-click="abrirFechar(programa)"></span> <a ng-click="mostrarDetalhes(proposta.id)"><b>Programa:</b> {{programa.programa}}</a>
												<ul ng-show="programa.aberto">
													<li ng-repeat="objetivo in programa.objetivos"><span class="glyphicon" ng-class="classeBotaoArvore(objetivo)"
														ng-click="abrirFechar(objetivo)"></span><a ng-click="mostrarDetalhes(proposta.id)"><b>Objetivo:</b> {{objetivo.objetivo}}</a>
														<ul ng-show="objetivo.aberto">
															<li ng-repeat="metaIniciativa in objetivo.metasIniciativas"><a ng-click="mostrarDetalhes(proposta.id)"><b>{{getTipo(metaIniciativa)}}:</b>
																	{{metaIniciativa.metaIniciativa}}</a></li>
														</ul></li>
												</ul></li>
										</ul></li>
								</ul>
								<h4 ng-show="proposta.ppasLength == 0">Nenhuma a&ccedil;&atilde;o associada &agrave; resolu&ccedil;&atilde;o</h4>
							</div></td>
					</tr>
				</tbody>

			</table>
		</div>

	</div>

</div>
