<div id="pagina" ng-controller="MetasController">

	<ol class="breadcrumb breadcrumb-custom">
		<li><a ng-href="#buscappa">Busca de Resolu&ccedil;&otilde;es por PPA</a></li>
		<li><a ng-href="#objetivos?e={{::eixo}}&p={{::programa}}">Programa {{::programa}}</a></li>
		<li class="active">Objetivo 0{{::idObjetivo}}</li>
	</ol>

	<div class="panel panel-custom">
		<div class="panel-heading">
			<h4 class="panel-title">Metas e Iniciativas</h4>
		</div>
		<div class="panel-body">
			<b>Programa: </b> {{::programaSelecionado.descricao}} <br /> <b>Objetivo: </b> {{::textoObjetivo}}
		</div>
		<ul class="list-group">
			<li class="list-group-item"><h3 class="list-group-item-heading">Metas</h3></li>
		</ul>
		<table ng-if="objetivos.metas.length > 0" class="table table-hover table-bordered table-contador">
			<tbody>
				<tr ng-repeat="meta in objetivos.metas" ng-click="navegaResolucoes(meta.id)">
					<td><span class="badge">{{cont[meta.id] || 0}}</span></td>
					<td>{{meta.metaIniciativa}}</td>
			</tbody>
		</table>
		<div ng-if="objetivos.iniciativas.length > 0" class="list-group">
			<a class="list-group-item"><h3 class="list-group-item-heading">Iniciativas</h3></a>
		</div>
		<table ng-if="objetivos.iniciativas.length > 0" class="table table-hover table-bordered table-contador">
			<tbody>
				<tr ng-repeat="iniciativa in objetivos.iniciativas" ng-click="navegaResolucoes(iniciativa.id)">
					<td><span class="badge">{{cont[iniciativa.id] || 0}}</span></td>
					<td>{{iniciativa.metaIniciativa}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</div>
