<div id="pagina" ng-controller="ObjetivosController">

	<ol class="breadcrumb breadcrumb-custom">
		<li><a ng-href="#buscappa">Busca de Resolu&ccedil;&otilde;es por PPA</a></li>
		<li class="active">Programa {{::programa}}</li>
	</ol>

	<div class="panel panel-custom">
		<div class="panel-heading">
			<h4 class="panel-title">Objetivos</h4>
		</div>
		<div class="panel-body">
			<b>Programa: </b> {{::programaSelecionado.descricao}}
		</div>
		<table class="table table-hover table-bordered table-contador">
			<tbody>
				<tr ng-repeat="objetivo in objetivos" ng-click="navegaMetas(objetivo.id)">
					<td><span class="badge">{{cont[objetivo.id] || 0}}</span></td>
					<td>{{objetivo.descricao}}</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
