<div id="pagina" ng-controller="ResolucoesPpaController">

	<ol class="breadcrumb breadcrumb-custom">
		<li><a ng-href="#buscappa">Busca de Resolu&ccedil;&otilde;es por PPA</a></li>
		<li><a ng-href="#objetivos?e={{::eixo}}&p={{::programa}}"> Programa {{::programa}}</a></li>
		<li><a ng-href="#metas?e={{::eixo}}&p={{::programa}}&o={{::objetivo}}">Objetivo 0{{::objetivo}}</a></li>
		<li class="active">{{opcao.tipo == 'META' ? 'Meta' : 'Iniciativa'}} {{::meta}}</li>
	</ol>

	<div class="panel panel-custom">
		<div class="panel-heading">
			<h4 class="panel-title">Resolu&ccedil;&otilde;es</h4>
		</div>
		<div class="panel-body">
			<b>Programa: </b> {{::programaSelecionado.descricao}} <br /> <b>Objetivo: </b> {{opcao.objetivo.descricao}}
		</div>
		<ul ng-if="propostas.length > 0" class="list-group">
			<li ng-repeat="proposta in propostas" ng-click="mostrarDetalhes(proposta.id)" class="list-group-item"><div>
					<h3 class="list-group-item-heading">Resolu&ccedil;&atilde;o {{::proposta.identificador}}</h3>
					<p>{{::proposta.proposta}}</p>
				</div></li>
		</ul>
		<ul ng-if="propostas.length == 0" class="list-group">
			<li class="list-group-item"> Nenhuma resolu&ccedil;&atilde;o vinculada</li>
		</ul>
	</div>

</div>
