<div ng-controller="UltimasAlteracoesController">

	<div id="div_tables" style="display: none">

		<div class="panel panel-custom">
			<div class="panel-heading" style="height: 60px">
				<h4 class="panel-title" style="height: 40px; padding-top: 10px">&Uacute;ltimas Altera&ccedil;&otilde;es</h4>
				<a href="./feedrss" target="_blank" class="pull-right" style="margin-top: -35px"> <img src="./img/rss-feed-icon.gif"
					alt="Ver Feed RSS" title="Ver Feed RSS" width="32"></a>
			</div>
			<table class="table table-bordered">
				<thead>
					<tr>
						<th width="14%">N&uacute;mero</th>
						<th width="70%">A&ccedil;&otilde;es</th>
						<th width="15%">Data de altera&ccedil;&atilde;o</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="p in propostas" ng-click="mostrarDetalhes(p.id)">
						<td valign="middle">{{::p.identificador}}</td>
						<td valign="top">{{::p.proposta | limitTo: 250}}...</td>
						<td valign="middle">{{::p.dataCadastro | date : 'dd/MM/yyyy'}}</td>
					</tr>
				</tbody>

			</table>
		</div>

	</div>

</div>
