.breadcrumb-custom {
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 0px;
}


/* ALTO CONTRASTE */

body.high-contrast .breadcrumb-custom {
	background-color: #303030;
	border-color: black;
}

body.high-contrast .breadcrumb-custom > li {
	color: white;
}
