.conteudo-aba {
	padding-top: 20px;
	background-color: white;
	border-width: 1px;
	border-style: solid;
	border-color: transparent #ddd #ddd;
}

.lista_ppa {
	list-style: none;
	padding: 0;
}

.card {
	padding: 6px;
	border: 1px solid #ccc;
	border-radius: 3px;
	box-shadow: 5px 5px 5px #999;
	background-color: white;
}

.card:not(:first-child) {
	margin-top: 12px;
}

.card:hover {
	background-color: #dedede;
}

.badge-contador {
	position: absolute;
    margin-top: 37px;
    margin-left: -21px;
}

.table-contador > tbody > tr > td:first-child {
	width: 1%;
}


/* ALTO CONTRASTE */

body.high-contrast .conteudo-aba {
	background-color: #303030;
	border-color: transparent black black;
}

body.high-contrast .fundo-lista-ppa {
	background-color: #5a5a5a;
}

body.high-contrast .card {
	border-color: black;
	background-color: #303030;
	box-shadow: 5px 5px 5px #222;
}
