.panel-custom > .list-group > .list-group-item:hover {
	background-color: white !important;
}

.panel-anexos > .list-group > .list-group-item:hover {
	background-color: #ecec82 !important;
}


/* ALTO CONTRASTE */

body.high-contrast {
	background: #5a5a5a;
	background-image: none;
	color: white;
}

body.high-contrast a,
body.high-contrast a:visited {
	color: white !important;
}
