body {
	background-image: url(../img/fundo_fatia.jpg);
}

#cabecalho {
	margin: 40px auto 30px 25%;
}

#bordaFundo {
	height: 34px;
	width: 100%;
	position: absolute;
	background-image: url(../img/barra_superior.jpg);
	background-repeat: repeat-x;
}

[ng-click] {
	cursor: pointer;
}
