.titulo_link {
	margin-top: 30px;
}

.titulo_link > a {
	margin-left: 5px;
}

.botao-teclado {
	min-width: 36px;
	padding: 6px 11px;
	border-radius: 3px;
	background-color: rgb(228, 228, 228);
	border-width: 1px 2px 3px;
	border-style: solid;
	border-color: #868686;
	border-image: none;
	color: black;
}

dl > dt:not(:last-child),
dl > dd:not(:last-child) {
	margin-bottom: 4px;
}
