#ultimas_alteracoes .list-group {
	overflow-y: auto;
	overflow-x: hidden;
	height: 230px;
}

#ultimas_alteracoes label[ng-click],
#ultimas_alteracoes p[ng-click] {
	cursor: pointer;
}
#ultimas_alteracoes label[ng-click]:hover,
#ultimas_alteracoes p[ng-click]:hover {
	text-decoration: underline;
}

#ultimas_alteracoes .list-group-item .lb_data {
	float: right;
	margin-top: 1px;
}

@media(min-width: 768px) {
	#painel_acesso {
		margin-right: -15px;
	}
}

#img_prioritarias {
	height: 100px;
}

#img_todas,
#img_ppa {
	height: 100px;
}

@media(max-width: 320px) {
	#img_prioritarias {
		height: 64px;
	}

	#img_todas,
	#img_ppa {
		height: 62px;
	}
}

@media(min-width: 321px) {
	#img_prioritarias {
		height: 75px;
	}

	#img_todas,
	#img_ppa {
		height: 74px;
	}
}

@media(min-width: 361px) {
	#img_prioritarias {
		height: 88px;
	}

	#img_todas,
	#img_ppa {
		height: 87px;
	}
}
