#pdf {
	float: right;
	margin-left: -40px
}

#div_tables > .panel-custom > .table > tbody > tr:hover {
	background-color: white !important;
}

ul.arvore {
	margin-top: 7px;
	padding-left: 10px;
}

ul.arvore li {
	list-style: none;
	margin: 5px 0;
}

ul.arvore li > .glyphicon {
	margin-right: 6px;
}

.alert {
	border-radius: 0;
}

.alert span {
	font-weight: bold;
	font-size: 16px;
}

.alert-subtemas {
	background-color: #FFD25B;
	color: black;
}


/* ALTO CONTRASTE */

body.high-contrast .alert-subtemas {
	background-color: #303030;
	color: white;
	border-color: black;
}
