body {
	background-image: url(../img/fundo_fatia.jpg);
	top: 0px;
	background-repeat: repeat;
	margin: 0;
}

#bordaFundo {
	height: 34px;
	width: 100%;
	position: absolute;
	background-image: url(../img/barra_superior.jpg);
	background-repeat: repeat-x;
}

#cabecalho {
	position: absolute;
	margin-left: calc(20% + 35px);
	margin-top: 62px;
	z-index: -1;
	left: 0;
}

#cabecalho2 {
	position: absolute;
	right: 20px;
	top: 71px;
}

[ng-view] {
	margin-top: 240px;
}

.row-no-offset {
	margin-left: 0;
	margin-right: 0;
}

@media(max-width: 979px) {
	#cabecalho,
	#cabecalho2 {
		display: none;
	}
	[ng-view] {
		margin-top: 0;
	}
}

@media(max-width: 1279px) {
	#cabecalho {
		margin-left: 44px;
	}
}

#rodape {
	border-top: 3px solid #c00;
	background-color: #ffd25b;
	bottom: 0;
	width: 100%;
	min-height: 100px;
}

#rodape_img_holder {
	margin-top: 20px;
}

@media(min-width: 320px) {
	#rodape_img_holder {
		margin-left: 10px;
		margin-right: 10px;
	}
}

@media(min-width: 768px) {
	#rodape_img_holder {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media(min-width: 980px) {
	#rodape_img_holder {
		margin-left: 15%;
		margin-right: 15%;
	}
}

@media(min-width: 1280px) {
	#rodape_img_holder {
		margin-left: 25%;
		margin-right: 25%;
	}
}

[ng-click] {
	cursor: pointer;
}

.botoes_subtipo.ativo > h4 {
	font-weight: bold;
}

.botoes_subtipo:not(.ativo) > img {
	opacity: 0.3;
}

.spin {
	-webkit-animation:spin 1.4s linear infinite;
    -moz-animation:spin 1.4s linear infinite;
    animation:spin 1.4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.divisor_vertical {
	content: "";
    display: inline-block;
    width: 0px;
    border-right: 1px solid #fafafa;
    border-left: 1px solid #b4b4b4;
    padding: 0;
    margin: 0 15px;
}

table td a {
	color: #333;
}

.apresentacao > p,
.entenda > p:not(.titulo_link),
.faleconosco > p {
	text-align: justify;
	font-size: 12pt;
}


/* ALTO CONTRASTE */

body.high-contrast {
	background: #5a5a5a;
	background-image: none;
	color: white;
}

body.high-contrast .popover {
	color: black;
}

body.high-contrast a,
body.high-contrast a:visited {
	color: white !important;
}

body.high-contrast #rodape {
	border-top-color: black;
	background-color: white;
}
