/* ALTO CONTRASTE */

body.high-contrast .modal-content {
	background-color: #303030;
	border-color: black;
}

body.high-contrast .modal-header {
	border-bottom-color: black;
}

body.high-contrast .close {
	color: white;
}

body.high-contrast .modal-content .panel-custom > .list-group > .list-group-item:hover,
body.high-contrast .modal-content .panel-custom > .table > tbody > tr:hover {
	background-color: #303030 !important;
}
