.navbar-custom {
	margin-top: 145px;
	background-color: white;
	position: absolute;
	width: 100%;
	border-radius: 0;
	border: 1px solid #ddd;
}

.navbar-custom a {
	color: #5e0707;
}
.navbar-custom a:hover {
	background-color: #ecec82 !important;
}

.navbar-header .navbar-toggle {
	border-color: #ddd;
}
.navbar-header .navbar-toggle:hover {
	background-color: #ddd;
}
.navbar-header .icon-bar {
	background-color: #888;
}

.navbar-nav li {
	border-right: 1px solid #ddd;
}
.navbar-nav li:first-child {
	border-left: 1px solid #ddd;
}

.navbar-nav li > a > .badge {
	margin-right: 6px;
}

@media(max-width: 980px) {
	#cabecalho2 {
		display: none;
	}
}
@media(min-width: 980px) {
	.navbar-header {
		display: none;
	}
}

@media(min-width: 1920px) {
	#navbar {
		margin-left: 13%;
	}
}

@media(max-width: 979px) {
	.navbar-custom {
		position:relative;
		margin-top: 0;
	}
}


/* ALTO CONTRASTE */

body.high-contrast .navbar-custom {
	background-color: #303030;
	border-color: black;
}

body.high-contrast .navbar-custom a:hover {
	background-color: #5a5a5a !important;
}

body.high-contrast .navbar-header .navbar-toggle {
	border-color: white;
}
body.high-contrast .navbar-header .navbar-toggle:hover {
	background-color: #5a5a5a;
}
body.high-contrast .navbar-header .icon-bar {
	background-color: white;
}

body.high-contrast .navbar-nav li {
	border-right-color: black;
}
body.high-contrast .navbar-nav li:first-child {
	border-left-color: black;
}
