.panel-custom {
	border: 1px solid #ddd;
	border-radius: 0;
}

.panel-custom > .panel-footer {
	border-top: 1px solid #ddd;
}

.panel-custom > .panel-heading,
.panel-custom > .list-group > .list-group-item,
.panel-custom > .panel-body,
.panel-custom > .panel-footer {
	background-color: white;
	border-color: #ddd;
	border-radius: 0 !important;
}

.panel-custom > .list-group > .list-group-item:hover,
.panel-custom > .table > tbody > tr:hover {
	background-color: #ecec82 !important;
}


/* ALTO CONTRASTE */

body.high-contrast .panel-custom {
	border-color: black;
}

body.high-contrast .panel-custom > .panel-footer {
	border-top-color: black;
}

body.high-contrast .panel-custom > .panel-heading,
body.high-contrast .panel-custom > .list-group > .list-group-item,
body.high-contrast .panel-custom > .panel-body,
body.high-contrast .panel-custom > .panel-footer,
body.high-contrast .panel-custom > .table,
body.high-contrast .panel-custom > .table th,
body.high-contrast .panel-custom > .table td {
	background-color: #303030;
	border-color: black;
}

body.high-contrast .panel-custom > .table-hover tr:hover > th,
body.high-contrast .panel-custom > .table-hover tr:hover > td {
	background-color: #5a5a5a;
}

body.high-contrast .panel-custom > .list-group > .list-group-item:hover,
body.high-contrast .panel-custom > .table > tbody > tr:hover {
	background-color: #5a5a5a !important;
}
