.nav-tabs > li > a {
	border-radius: 0;
}

.nav-tabs > li > a:hover {
	background-color: #ecec82;
}


/* ALTO CONTRASTE */

body.high-contrast .nav-tabs {
	border-bottom-color: black;
}

body.high-contrast .nav-tabs > li > a {
	background-color: #303030;
	border-color: black;
}

body.high-contrast .nav-tabs > li > a:hover {
	background-color: #5a5a5a;
}
